
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1>Hello {{name}}, your phone number is {{phone}}</h1>
        <form method="post">
            <label>Name</label>
            <input type="text" name="name"/>
            <label>Phone</label>
            <input type="text" name="phone"/>
            <input type="submit"/>
        </form>
        <a href="/hello">link to hello</a>

        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </body>

</html>
